@tailwind base;
@tailwind components;
@tailwind utilities;

.text-orange1 {
  color: rgb(242 90 40);
}

.slick-prev,
.slick-next {
  width: 30px !important;
  height: 30px !important;
  top: 45% !important;
  background-color: white !important;
  border-radius: 25px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1 !important;
  cursor: pointer !important;
  transform: scale(1) !important;
  transition: transform 0.2s ease-in-out !important;
  box-shadow: 0 0 2px black;
}

.slick-prev::before,
.slick-next::before {
  content: "" !important; /* Remove the provided arrows from the react-slick library */
  width: 20px !important;
  height: 20px !important;
  background: url("/arrowhead-right.svg") no-repeat !important; /* Use arrowhead svg, replacing the given arrow from react-slick library */
  background-size: contain !important;
  opacity: 1 !important;
}

.slick-prev:hover,
.slick-next:hover {
  transform: scale(1.1) !important;
}

.slick-prev::before {
  transform: rotate(180deg); /* Flip the arrow horizontally for left arrow */
}

.slick-prev {
  left: 0px !important; /* Position the left arrow */
}

.slick-next {
  right: 0px !important; /* Position the right arrow */
}

.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
  content: "";
}

@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
